footer{
  height: 60vh;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
}
.aide,.liens,.wilaya{
  display: flex;
  flex-direction: column;
}
.aide a,.liens a,.wilaya a{
  color: #666;
  padding: 4px;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media h2{
padding: 10px 0;
}
.social-media a{
  padding: 10px;
}
.social-media i:hover{
  font-size: 28px;
  color: #666;
  transition: 0.3s;
}
/*===========================================*/
.avis{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
}
.avis h2{
  color: #ff5f6d;
  font-size: 30px;
  font-weight: 400;
  padding: 40px;
}
.avis-item{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
  width: 100%;
}
.box-avis{
  background-color: #141414;
  width: 250px;
  height: 300px;
  padding: 40px;
}
.box-avis p{
  padding: 25px;
  color: #666;
}
.user-info h2{
  color: #ff5f6d;
  border-bottom: 1px solid #ff5f6d;
  padding: 10px;
}
footer h2{
  color: #ff5f6d;
}
